* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.all-btn {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    transition: 0.3s;
}

.all-btn:hover{
    background-color: #053492;
    font-weight: 900;
}

/* navbar section */

.navbar-section .container {
    padding: 15px 20px;
}

.navbar-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-section ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

.navbar-section a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;

}


/* hero section  */

.hero-section {
    background:
      linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
     url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 100px;
}

.hero-section h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -3.2px;
    padding-bottom: 25px;
}

.hero-section p {
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 100px;
}

.hero-section .all-btn{
    margin-top: 200px;
    margin-bottom: 60px;
    padding: 20px 50px;
    font-size: 20px;
    border-radius: 8px;
}

/* speaker section  */

.speaker-section {
    margin: 50px 0;
}

.speaker-section h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 64.4px;
    color: #000102;
    text-align: center;
    padding-bottom: 60px;
}

.speaker-section img {
    width: 100%;
    object-fit: cover;
}

.speaker-section .p-1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #2563EB;
}

.speaker-section h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 27.5px;
    color: #0D1B2A;
    padding: 10px 0;
}

.speaker-section .p-2 {
    font-size: 14px;
    line-height: 21px;
    color: #575757;
}

.speaker-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.speaker-section .row .box {
    border: 1px solid #ebe8e8;
    border-radius: 8px;
    overflow: hidden;
}

.speaker-section .row .box .title-div {
    padding: 20px;
}

/* pricing section  */

.pricing-section {
    margin: 50px 0;
}

.pricing-section h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #0D1B2A;
}

.pricing-section h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #0D1B2A;
}

.pricing-section .title-p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #575757;
    padding-top: 10px;
    padding-bottom: 30px;
}

.pricing-section .row {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

.pricing-section .parent-box {
    border: 1px solid #d9d0d0;
    padding: 32px;
    width: 370.66px;
    height: 420px;
    border-radius: 8px;
}

.pricing-section .parent-box .child-box .p-1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    color: #888888;
}

.pricing-section .parent-box .child-box h3 {
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    color: #0D1B2A;
    padding: 5px 0;
}

.pricing-section .parent-box .child-box .p-2 {
    font-size: 13px;
    line-height: 19.5px;
    color: #888888;
}

.pricing-section .parent-box .child-box ul li {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    list-style: none;
}

.pricing-section hr {
    margin: 30px 0;
}

.pricing-section span {
    color: #2563EB;
}

.pricing-section .pricing-btn {
    background: none;
    color: #2563EB;
    padding: 10px 30px;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: 30px;
    transition: 0.3s;
}

.pricing-section .pricing-btn:hover{
    background-color: #0746c4;
    color: #fff;
}

.pricing-section .middle-box {
    background: #0D1B2A;
    border: 1px solid #000000;
    padding: 32px;
    width: 370.66px;
    height: 420px;
    border-radius: 8px;
}

.pricing-section .middle-box .child-box .p-1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    color: #93C5FD;
}

.pricing-section .middle-box .child-box .p-2 {
    font-size: 13px;
    line-height: 19.5px;
    color: #FFFFFF;
}

.pricing-section .middle-box .child-box h3 {
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    color: #FFFFFF;
    padding: 5px 0;
}

.pricing-section .middle-box .child-box ul li {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    list-style: none;
}



.pricing-section .pricing-middle-btn {
    background: #2563EB;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: 30px;
    transition: 0.3s;
}

.pricing-section .pricing-middle-btn:hover{
    background-color: #053492;
    border: none;
    font-weight: 900;
}

/* placeholder section  */

.hackathon-section{
    padding:100px 0;
    background:#f7f8fc;
    text-align:center;
}

.section-title h2{
    font-size:40px;
    margin-bottom:15px;
}

.section-title p{
    width:60%;
    margin:0 auto 60px;
    color:#666;
    line-height:1.8;
}

.hackathon-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-bottom:50px;
}

.hackathon-card{
    width:300px;
    background:#fff;
    padding:40px 25px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.hackathon-card:hover{
    transform:translateY(-10px);
}

.hackathon-card i{
    font-size:45px;
    color:#4f46e5;
    margin-bottom:20px;
}

.hackathon-card h3{
    margin-bottom:15px;
}

.hackathon-card p{
    color:#666;
    line-height:1.8;
}


/* footer section  */

.footer-section {
    background: #0D1B2A;
    padding: 30px;
}

.footer-section .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.footer-section ul {
    list-style: none;
    display: flex;
    gap: 30px;
    color: #ffffff;
}

.footer-section .socket {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-section a{
    padding-top: 20px;
    color: #ffffff;
    opacity: 40%;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.5px;
}

.footer-section p{
    color: #ffffff;
    opacity: 40%;
    font-size: 16px;
    line-height: 19.5px;
}

