* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.all-btn {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* navbar section */

.navbar-section .container {
    padding: 15px 20px;
}

.navbar-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-section ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}

.navbar-section a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;

}


/* hero section  */

.hero-section {
    background: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7f7c7c;
    color: #fff;
    text-align: center;
    padding: 50px 70px;
    margin-bottom: 40px;
}

.hero-section h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -3.2px;
}

.hero-section p {
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 100px;
}

/* speaker section  */

.speaker-section {
    margin: 50px 0;
}

.speaker-section h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 64.4px;
    color: #000102;
    text-align: center;
    padding-bottom: 60px;
}

.speaker-section img {
    width: 100%;
    object-fit: cover;
}

.speaker-section .p-1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #2563EB;
}

.speaker-section h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 27.5px;
    color: #0D1B2A;
    padding: 10px 0;
}

.speaker-section .p-2 {
    font-size: 14px;
    line-height: 21px;
    color: #575757;
}

.speaker-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.speaker-section .row .box {
    border: 1px solid #ebe8e8;
    border-radius: 8px;
    overflow: hidden;
}

.speaker-section .row .box .title-div {
    padding: 20px;
}

/* pricing section  */

.pricing-section {
    margin: 50px 0;
}

.pricing-section h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #0D1B2A;
}

.pricing-section h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    color: #0D1B2A;
}

.pricing-section .title-p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #575757;
    padding-top: 10px;
    padding-bottom: 30px;
}

.pricing-section .row {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

.pricing-section .parent-box {
    border: 1px solid #d9d0d0;
    padding: 32px;
    width: 370.66px;
    height: 420px;
    border-radius: 8px;
}

.pricing-section .parent-box .child-box .p-1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    color: #888888;
}

.pricing-section .parent-box .child-box h3 {
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    color: #0D1B2A;
    padding: 5px 0;
}

.pricing-section .parent-box .child-box .p-2 {
    font-size: 13px;
    line-height: 19.5px;
    color: #888888;
}

.pricing-section .parent-box .child-box ul li {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    list-style: none;
}

.pricing-section hr {
    margin: 30px 0;
}

.pricing-section span {
    color: #2563EB;
}

.pricing-section .pricing-btn {
    background: none;
    color: #2563EB;
    padding: 10px 30px;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: 30px;
}

.pricing-section .middle-box {
    background: #0D1B2A;
    border: 1px solid #000000;
    padding: 32px;
    width: 370.66px;
    height: 420px;
    border-radius: 8px;
}

.pricing-section .middle-box .child-box .p-1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    color: #93C5FD;
}

.pricing-section .middle-box .child-box .p-2 {
    font-size: 13px;
    line-height: 19.5px;
    color: #FFFFFF;
}

.pricing-section .middle-box .child-box h3 {
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    color: #FFFFFF;
    padding: 5px 0;
}

.pricing-section .middle-box .child-box ul li {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    list-style: none;
}



.pricing-section .pricing-middle-btn {
    background: #2563EB;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    margin-top: 30px;
}

/* footer section  */

.footer-section {
    background: #0D1B2A;
    padding: 30px;
}

.footer-section .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.footer-section ul {
    list-style: none;
    display: flex;
    gap: 30px;
    color: #ffffff;
}

.footer-section .socket {
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
}

